body {
    margin:0;
    font-family: 'Poppins', sans-serif;
    background:#0f172a;
    color:white;
    scroll-behavior:smooth;
}

header {
    text-align:center;
    padding:100px 20px;
}

header h1 {
    font-size:3rem;
}

.typing {
    color:#38bdf8;
    font-weight:600;
    margin-top:10px;
}

section {
    padding:60px 20px;
    max-width:900px;
    margin:auto;
}

h2 {
    color:#38bdf8;
    margin-bottom:20px;
}

.skill {
    margin-bottom:20px;
}

.bar {
    background:#1e293b;
    height:8px;
    border-radius:10px;
}

.fill {
    background:#38bdf8;
    height:8px;
    border-radius:10px;
    transition:width 1s ease-in-out;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    transition:transform 0.3s;
}

.card:hover {
    transform:translateY(-5px);
}
